# node modules
node_modules
# environmental variables
.env
# built js directory
dist
# editor config
.vscode
.claude
# test coverage
coverage
# generated docs
documentation/docs
documentation/index.html
# yarn
.yarn/install-state.gz
