name: Publish package

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version to bump'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  publishPackage:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build
      - name: Bump version
        run: |
          git config --global user.name 'Neogma publisher'
          git config --global user.email 'themetalfleece@users.noreply.github.com'
          npm version ${{ inputs.version }}
      - name: Publish to npm
        run: npm publish
      - name: Push
        run: git push
      - name: Push tags
        run: git push --tags

  publishDocs:
    needs: publishPackage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install codedoc
        run: npm i -g @codedoc/cli

      - name: Install dependencies
        run: |
          cd documentation/.codedoc
          npm ci
      - name: Build docs
        run: |
          cd documentation
          codedoc build
      - name: Move related files to tmp
        run: |
          mkdir /tmp/neogma
          cp -r ./documentation/docs /tmp/neogma/docs
          cp documentation/index.html /tmp/neogma/index.html
          cp documentation/favicon.ico /tmp/neogma/favicon.ico
      - name: Checkout docs
        uses: actions/checkout@v4
        with:
          ref: docs
      - name: Push built files
        run: |
          rm -rf docs
          rm -f index.html
          rm -f favicon.ico
          cp -r /tmp/neogma/* .
          git config --global user.name 'Docs builder'
          git config --global user.email 'themetalfleece@users.noreply.github.com'
          git add .
          git commit -m "Build docs"
          git push --force origin docs
