name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  runTests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: yarn
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install neo4j
        run: |
          sudo add-apt-repository -y ppa:openjdk-r/ppa
          sudo apt-get update
          wget -O - https://debian.neo4j.com/neotechnology.gpg.key | sudo apt-key add -
          echo 'deb https://debian.neo4j.com stable latest' | sudo tee -a /etc/apt/sources.list.d/neo4j.list
          sudo apt-get update
          sudo apt-get install neo4j
      - name: Config neo4j
        run: sudo neo4j-admin set-initial-password ci
      - name: Start neo4j
        run: sudo systemctl start neo4j.service
      - name: Get neo4j status
        run: sudo systemctl status neo4j.service
      - name: Wait for neo4j
        uses: ifaxity/wait-on-action@v1.1.0
        with:
          resource: http://localhost:7474
          log: true
      - name: Run tests
        run: |
          export NEO4J_URL="bolt://localhost:7687"
          export NEO4J_USERNAME="neo4j"
          export NEO4J_PASSWORD="ci"
          yarn test
